---
name: recover_password
resource: Customization
resource_owner: anyone
redirect_to: /user_authentication?email={{ form.model.properties.email }}
configuration:
  properties:
    email:
      validation:
        presence: false
        email: false
email_notifications:
  - contact_request_notification         
callback_actions: |-
  {% log context.headers %}
  {% log form.model.properties.email %}
---
{% form %}    
    <form onsubmit="return RetrievePasswordConfirmation();"> 
    <!DOCTYPE html amp>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" amp>
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">      
      <body id="body" onload="Init();">          
        <div id="offering-left-panel">
          <div class="offering-left-group" style = "margin-top:-550px; margin-left:-135px;float:left;width:1000px;">
            <div class="system-message">
              <h1>Password Reset</h1>
              <p id="invalidUsernameMessage" class="error true" style="display:none">ERROR: The email address or username you provided does not exist.</p>                          
              <p>Forgotten or lost your password? Enter your email address or username below and we'll send you instructions on how to reset it.</p>
              <form>
                <div class="form">
                  <div class="item">
                    <div style="display:block;width:500px;">
                      <label for="email">Email Address / Username</label>
                      <br />
                      <input name="{{ form_builder.fields.properties.email.name }}" value="{{ form_builder.fields.properties.email.value }}" id="email" type="email">
                      {% comment %}{% if form_builder.errors['properties.email'] %}
                        <p <strong style="font-weight:700;color:red;">{{ form_builder.errors['properties.email'] }}</p>
                      {% endif %}
                      <input type="text" maxlength="255" id="email" name="email" class="cat_textbox_small"> {% endcomment %}
                      <label id="emailError"><strong style="font-weight:700;color:red;"></label>
                    </div>
                  </div>   
                  {%comment %}<input name="form[abc]" value="{{ context.params.email | default: context.params.form.email }}" />{% endcomment %}
                  <div class="item">
                    <input type="submit" value="Retrieve" class="cat_button">
                  </div>
                </div>
              </form>
            </div> 
          </div>    
        </div>
      </body>
    </html>
  </form>

  <script>
    console.log("Authenticated: " + localStorage.getItem("Authenticated"));    
    function Init() {
      localStorage.setItem("validateEmailOnly", 1);

      if (localStorage.getItem("Authenticated") == 1) {
        var userNameError = document.getElementById("invalidUsernameMessage");
        userNameError.style.display = "block";        
      }  
    }  

    function RetrievePasswordConfirmation() {
      var errors = false;
      var errorMessage = "";
      var errorFullHTML = '<strong style="font-weight:700!important;">';
      var userNameError = document.getElementById("invalidUsernameMessage"); 
      
      if (document.getElementById('email').value === null || document.getElementById('email').value == '') {
        errors = true;
        errorMessage = "The Email Address / Username cannot be blank";
        errorFullHTML += 'The Email Address / Username cannot be blank</strong>';
        userNameError.style.display = "block";   
      }
      else {
        var emailAddress = document.getElementById('email').value;
        var emailValid =  validateEmail(emailAddress);

        if (emailValid === false) {
          errorMessage = "Please enter a valid Email Address";
          errorFullHTML += 'Please enter a valid Email Address</strong>';   
        }
      }  
  
      if (errors == false) {
        console.log("No errors so calling proc to send email");
        localStorage.setItem("email", document.getElementById('email').value);
        localStorage.setItem("validateEmailOnly", 1);
        //window.open('https://playpen2.staging-sydney.near-me.com/password-retrieve-confirmation', '_self');    
        //window.open('https://playpen2.staging-sydney.near-me.com/recover-password?email=ABC', '_self');

        //window.open('https://playpen2.staging-sydney.near-me.com/user_authentication', '_self');

        //window.open('https://playpen2.staging-sydney.near-me.com/recover-password-24082018', '_self'); 
      } 

      return false; 
    }  

    function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }
  </script>
{% endform %}