---
name: test_form
resource: User
configuration:
  email:
  password:
redirect_to: /salesforce 
api_call_notifications:
  - send_request
---

{% form %}
  <div>
    <label for="email"><abbr title="required">*</abbr> Email</label>
    <div>
      <input name="{{ form_builder.fields.email.name }}" value="{{ form_builder.fields.email.value}}" id="email" type="email">
    </div>
  </div>

  <div>
    <label for="password"><abbr title="required">*</abbr> Password</label>
    <div>
      <input name="{{ form_builder.fields.password.name }}" id="password" type="password">
      {% if form_builder.errors.password %}
        <p>{{ form_builder.errors.password }}</p>
      {% endif %}
    </div>
  </div>

  <input name="{{ form_builder.fields.profiles.test_profile.enabled.name }}" value="1" type="hidden">

  <p class="action">
    {% submit 'Save', class: 'button-a' %}
  </p>
{% endform %}