<!-- Start Header -->

<header>
    <!DOCTYPE HTML amp>

    <link rel="canonical" href="https://www.ampstart.com/templates/blog.amp">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script>
        if (window.location.href.trim() != "https://playpen2.staging-sydney.near-me.com/recover-password" && window.location.href.trim() != "https://playpen2.staging-sydney.near-me.com/contacts" && window.location.href.trim() != "https://playpen2.staging-sydney.near-me.com/assets" && window.location.href.trim() != "https://playpen2.staging-sydney.near-me.com/member") {
            var AMP_Start = '<script async="" src="https://cdn.ampproject.org/v0.js"><\/script>';
            document.write(AMP_Start.trim());
            AMP_Start = '<style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>';
            document.write(AMP_Start.trim());
            AMP_Start = '<script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async=""><\/script>\n';
            AMP_Start += '<script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async=""><\/script>\n';
            AMP_Start += '<script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async=""><\/script>\n';
            AMP_Start += '<script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"><\/script>\n';
            AMP_Start += '<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"><\/script>\n';
            AMP_Start += '<script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async><\/script>\n';
            AMP_Start += '<script custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async><\/script>\n';
            AMP_Start += '<script custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js" async=""><\/script>\n';
            document.write(AMP_Start.trim());            
        }    
    </script>    

    {% comment %} <script async="" src="https://cdn.ampproject.org/v0.js"></script>

    <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async=""></script>
    <script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async=""></script>
    <script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async=""></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
    <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async></script>
    <script custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async></script>    
    <script custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js" async=""></script>
    {% endcomment %}

    <style amp-custom="">/*! Bassplate | MIT License | http://github.com/basscss/bassplate */
    
    /*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}[hidden],template{display:none}.h1{font-size:3rem}.h2{font-size:2rem}.h3{font-size:1.5rem}.h4{font-size:1.125rem}.h5{font-size:.875rem}.h6{font-size:.75rem}.font-family-inherit{font-family:inherit}.font-size-inherit{font-size:inherit}.text-decoration-none{text-decoration:none}.bold{font-weight:700}.regular{font-weight:400}.italic{font-style:italic}.caps{text-transform:uppercase;letter-spacing:.2em}.left-align{text-align:left}.center{text-align:center}.right-align{text-align:right}.justify{text-align:justify}.nowrap{white-space:nowrap}.break-word{word-wrap:break-word}.line-height-1{line-height:1rem}.line-height-2{line-height:1.125rem}.line-height-3{line-height:1.5rem}.line-height-4{line-height:2rem}.list-style-none{list-style:none}.underline{text-decoration:underline}.truncate{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.list-reset{list-style:none;padding-left:0}.inline{display:inline}.block{display:block}.inline-block{display:inline-block}.table{display:table}.table-cell{display:table-cell}.overflow-hidden{overflow:hidden}.overflow-scroll{overflow:scroll}.overflow-auto{overflow:auto}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}.left{float:left}.right{float:right}.fit{max-width:100%}.max-width-1{max-width:24rem}.max-width-2{max-width:32rem}.max-width-3{max-width:48rem}.max-width-4{max-width:64rem}.border-box{box-sizing:border-box}.align-baseline{vertical-align:baseline}.align-top{vertical-align:top}.align-middle{vertical-align:middle}.align-bottom{vertical-align:bottom}.m0{margin:0}.mt0{margin-top:0}.mr0{margin-right:0}.mb0{margin-bottom:0}.ml0,.mx0{margin-left:0}.mx0{margin-right:0}.my0{margin-top:0;margin-bottom:0}.m1{margin:.5rem}.mt1{margin-top:.5rem}.mr1{margin-right:.5rem}.mb1{margin-bottom:.5rem}.ml1,.mx1{margin-left:.5rem}.mx1{margin-right:.5rem}.my1{margin-top:.5rem;margin-bottom:.5rem}.m2{margin:1rem}.mt2{margin-top:1rem}.mr2{margin-right:1rem}.mb2{margin-bottom:1rem}.ml2,.mx2{margin-left:1rem}.mx2{margin-right:1rem}.my2{margin-top:1rem;margin-bottom:1rem}.m3{margin:1.5rem}.mt3{margin-top:1.5rem}.mr3{margin-right:1.5rem}.mb3{margin-bottom:1.5rem}.ml3,.mx3{margin-left:1.5rem}.mx3{margin-right:1.5rem}.my3{margin-top:1.5rem;margin-bottom:1.5rem}.m4{margin:2rem}.mt4{margin-top:2rem}.mr4{margin-right:2rem}.mb4{margin-bottom:2rem}.ml4,.mx4{margin-left:2rem}.mx4{margin-right:2rem}.my4{margin-top:2rem;margin-bottom:2rem}.mxn1{margin-left:-.5rem;margin-right:-.5rem}.mxn2{margin-left:-1rem;margin-right:-1rem}.mxn3{margin-left:-1.5rem;margin-right:-1.5rem}.mxn4{margin-left:-2rem;margin-right:-2rem}.ml-auto{margin-left:auto}.mr-auto,.mx-auto{margin-right:auto}.mx-auto{margin-left:auto}.p0{padding:0}.pt0{padding-top:0}.pr0{padding-right:0}.pb0{padding-bottom:0}.pl0,.px0{padding-left:0}.px0{padding-right:0}.py0{padding-top:0;padding-bottom:0}.p1{padding:.5rem}.pt1{padding-top:.5rem}.pr1{padding-right:.5rem}.pb1{padding-bottom:.5rem}.pl1{padding-left:.5rem}.py1{padding-top:.5rem;padding-bottom:.5rem}.px1{padding-left:.5rem;padding-right:.5rem}.p2{padding:1rem}.pt2{padding-top:1rem}.pr2{padding-right:1rem}.pb2{padding-bottom:1rem}.pl2{padding-left:1rem}.py2{padding-top:1rem;padding-bottom:1rem}.px2{padding-left:1rem;padding-right:1rem}.p3{padding:1.5rem}.pt3{padding-top:1.5rem}.pr3{padding-right:1.5rem}.pb3{padding-bottom:1.5rem}.pl3{padding-left:1.5rem}.py3{padding-top:1.5rem;padding-bottom:1.5rem}.px3{padding-left:1.5rem;padding-right:1.5rem}.p4{padding:2rem}.pt4{padding-top:2rem}.pr4{padding-right:2rem}.pb4{padding-bottom:2rem}.pl4{padding-left:2rem}.py4{padding-top:2rem;padding-bottom:2rem}.px4{padding-left:2rem;padding-right:2rem}.col{float:left}.col,.col-right{box-sizing:border-box}.col-right{float:right}.col-1{width:8.33333%}.col-2{width:16.66667%}.col-3{width:25%}.col-4{width:33.33333%}.col-5{width:41.66667%}.col-6{width:50%}.col-7{width:58.33333%}.col-8{width:66.66667%}.col-9{width:75%}.col-10{width:83.33333%}.col-11{width:91.66667%}.col-12{width:100%}@media (min-width:40.06rem){.sm-col{float:left;box-sizing:border-box}.sm-col-right{float:right;box-sizing:border-box}.sm-col-1{width:8.33333%}.sm-col-2{width:16.66667%}.sm-col-3{width:25%}.sm-col-4{width:33.33333%}.sm-col-5{width:41.66667%}.sm-col-6{width:50%}.sm-col-7{width:58.33333%}.sm-col-8{width:66.66667%}.sm-col-9{width:75%}.sm-col-10{width:83.33333%}.sm-col-11{width:91.66667%}.sm-col-12{width:100%}}@media (min-width:52.06rem){.md-col{float:left;box-sizing:border-box}.md-col-right{float:right;box-sizing:border-box}.md-col-1{width:8.33333%}.md-col-2{width:16.66667%}.md-col-3{width:25%}.md-col-4{width:33.33333%}.md-col-5{width:41.66667%}.md-col-6{width:50%}.md-col-7{width:58.33333%}.md-col-8{width:66.66667%}.md-col-9{width:75%}.md-col-10{width:83.33333%}.md-col-11{width:91.66667%}.md-col-12{width:100%}}@media (min-width:64.06rem){.lg-col{float:left;box-sizing:border-box}.lg-col-right{float:right;box-sizing:border-box}.lg-col-1{width:8.33333%}.lg-col-2{width:16.66667%}.lg-col-3{width:25%}.lg-col-4{width:33.33333%}.lg-col-5{width:41.66667%}.lg-col-6{width:50%}.lg-col-7{width:58.33333%}.lg-col-8{width:66.66667%}.lg-col-9{width:75%}.lg-col-10{width:83.33333%}.lg-col-11{width:91.66667%}.lg-col-12{width:100%}}.flex{display:-webkit-box;display:-ms-flexbox;display:flex}@media (min-width:40.06rem){.sm-flex{display:-webkit-box;display:-ms-flexbox;display:flex}}@media (min-width:52.06rem){.md-flex{display:-webkit-box;display:-ms-flexbox;display:flex}}@media (min-width:64.06rem){.lg-flex{display:-webkit-box;display:-ms-flexbox;display:flex}}.flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}.items-start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.items-end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.items-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.items-baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.items-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.self-start{-ms-flex-item-align:start;align-self:flex-start}.self-end{-ms-flex-item-align:end;align-self:flex-end}.self-center{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.self-baseline{-ms-flex-item-align:baseline;align-self:baseline}.self-stretch{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}.justify-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.justify-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.justify-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.justify-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.justify-around{-ms-flex-pack:distribute;justify-content:space-around}.content-start{-ms-flex-line-pack:start;align-content:flex-start}.content-end{-ms-flex-line-pack:end;align-content:flex-end}.content-center{-ms-flex-line-pack:center;align-content:center}.content-between{-ms-flex-line-pack:justify;align-content:space-between}.content-around{-ms-flex-line-pack:distribute;align-content:space-around}.content-stretch{-ms-flex-line-pack:stretch;align-content:stretch}.flex-auto{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;min-width:0;min-height:0}.flex-none{-webkit-box-flex:0;-ms-flex:none;flex:none}.order-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-last{-webkit-box-ordinal-group:100000;-ms-flex-order:99999;order:99999}.relative{position:relative}.absolute{position:absolute}.fixed{position:fixed}.top-0{top:0}.right-0{right:0}.bottom-0{bottom:0}.left-0{left:0}.z1{z-index:1}.z2{z-index:2}.z3{z-index:3}.z4{z-index:4}.border{border-style:solid;border-width:1px}.border-top{border-top-style:solid;border-top-width:1px}.border-right{border-right-style:solid;border-right-width:1px}.border-bottom{border-bottom-style:solid;border-bottom-width:1px}.border-left{border-left-style:solid;border-left-width:1px}.border-none{border:0}.rounded{border-radius:3px}.circle{border-radius:50%}.rounded-top{border-radius:3px 3px 0 0}.rounded-right{border-radius:0 3px 3px 0}.rounded-bottom{border-radius:0 0 3px 3px}.rounded-left{border-radius:3px 0 0 3px}.not-rounded{border-radius:0}.hide{position:absolute;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}@media (max-width:40rem){.xs-hide{display:none}}@media (min-width:40.06rem) and (max-width:52rem){.sm-hide{display:none}}@media (min-width:52.06rem) and (max-width:64rem){.md-hide{display:none}}@media (min-width:64.06rem){.lg-hide{display:none}}.display-none{display:none}*{box-sizing:border-box}body{background:#fff;color:#4a4a4a;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;min-width:315px;overflow-x:hidden;font-smooth:always;-webkit-font-smoothing:antialiased}main{max-width:700px;margin:0 auto}p{padding:0;margin:0}.ampstart-accent{color:#003f93}#content:target{margin-top:calc(0px - 3.5rem);padding-top:3.5rem}.ampstart-title-lg{font-size:3rem;line-height:3.5rem;letter-spacing:.06rem}.ampstart-title-md{font-size:2rem;line-height:2.5rem;letter-spacing:.06rem}.ampstart-title-sm{font-size:1.5rem;line-height:2rem;letter-spacing:.06rem}.ampstart-subtitle,body{line-height:1.5rem;letter-spacing:normal}.ampstart-subtitle{color:#003f93;font-size:1rem}.ampstart-byline,.ampstart-caption,.ampstart-hint,.ampstart-label{font-size:.875rem;color:#4f4f4f;line-height:1.125rem;letter-spacing:.06rem}.ampstart-label{text-transform:uppercase}.ampstart-footer,.ampstart-small-text{font-size:.75rem;line-height:1rem;letter-spacing:.06rem}.ampstart-card{box-shadow:0 1px 1px 0 rgba(0,0,0,.14),0 1px 1px -1px rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}.h1,h1{font-size:3rem;line-height:3.5rem}.h2,h2{font-size:2rem;line-height:2.5rem}.h3,h3{font-size:1.5rem;line-height:2rem}.h4,h4{font-size:1.125rem;line-height:1.5rem}.h5,h5{font-size:.875rem;line-height:1.125rem}.h6,h6{font-size:.75rem;line-height:1rem}h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:400;letter-spacing:.06rem}a,a:active,a:visited{color:inherit}.ampstart-btn{font-family:inherit;font-weight:inherit;font-size:1rem;line-height:1.125rem;padding:.7em .8em;text-decoration:none;white-space:nowrap;word-wrap:normal;vertical-align:middle;cursor:pointer;background-color:#000;color:#fff;border:1px solid #fff}.ampstart-btn:visited{color:#fff}.ampstart-btn-secondary{background-color:#fff;color:#000;border:1px solid #000}.ampstart-btn-secondary:visited{color:#000}.ampstart-btn:active .ampstart-btn:focus{opacity:.8}.ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover{opacity:.5;outline:0;cursor:default}.ampstart-dropcap:first-letter{color:#000;font-size:3rem;font-weight:700;float:left;overflow:hidden;line-height:3rem;margin-left:0;margin-right:.5rem}.ampstart-initialcap{padding-top:1rem;margin-top:1.5rem}.ampstart-initialcap:first-letter{color:#000;font-size:3rem;font-weight:700;margin-left:-2px}.ampstart-pullquote{border:none;border-left:4px solid #000;font-size:1.5rem;padding-left:1.5rem}.ampstart-byline time{font-style:normal;white-space:nowrap}.amp-carousel-button-next{background-image:url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Next</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="#FFF" fill-rule="evenodd"/></svg>')}.amp-carousel-button-prev{background-image:url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Previous</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="#FFF" fill-rule="evenodd"/></svg>')}.ampstart-dropdown{min-width:200px}.ampstart-dropdown.absolute{z-index:100}.ampstart-dropdown.absolute>section,.ampstart-dropdown.absolute>section>header{height:100%}.ampstart-dropdown>section>header{background-color:#000;border:0;color:#fff}.ampstart-dropdown>section>header:after{display:inline-block;content:"+";padding:0 0 0 1.5rem;color:#003f93}.ampstart-dropdown>[expanded]>header:after{content:"–"}.absolute .ampstart-dropdown-items{z-index:200}.ampstart-dropdown-item{background-color:#000;color:#003f93;opacity:.9}.ampstart-dropdown-item:active,.ampstart-dropdown-item:hover{opacity:1}.ampstart-footer{background-color:#fff;color:#000;padding-top:5rem;padding-bottom:5rem}.ampstart-footer .ampstart-icon{fill:#000}.ampstart-footer .ampstart-social-follow li:last-child{margin-right:0}.ampstart-image-fullpage-hero{color:#fff}.ampstart-fullpage-hero-heading-text,.ampstart-image-fullpage-hero .ampstart-image-credit{-webkit-box-decoration-break:clone;box-decoration-break:clone;background:#000;padding:0 1rem .2rem}.ampstart-image-fullpage-hero>amp-img{max-height:calc(100vh - 3.5rem)}.ampstart-image-fullpage-hero>amp-img img{-o-object-fit:cover;object-fit:cover}.ampstart-fullpage-hero-heading{line-height:3.5rem}.ampstart-fullpage-hero-cta{background:transparent}.ampstart-readmore{background:-webkit-linear-gradient(bottom,rgba(0,0,0,.65),transparent);background:linear-gradient(0deg,rgba(0,0,0,.65) 0,transparent);color:#fff;margin-top:5rem;padding-bottom:3.5rem}.ampstart-readmore:after{display:block;content:"⌄";font-size:2rem}.ampstart-readmore-text{background:#000}@media (min-width:52.06rem){.ampstart-image-fullpage-hero>amp-img{height:60vh}}.ampstart-image-heading{color:#fff;background:-webkit-linear-gradient(bottom,rgba(0,0,0,.65),transparent);background:linear-gradient(0deg,rgba(0,0,0,.65) 0,transparent)}.ampstart-image-heading>*{margin:0}amp-carousel .ampstart-image-with-heading{margin-bottom:0}.ampstart-image-with-caption figcaption{color:#4f4f4f;line-height:1.125rem}amp-carousel .ampstart-image-with-caption{margin-bottom:0}.ampstart-input{max-width:100%;width:300px;min-width:100px;font-size:1rem;line-height:1.5rem}.ampstart-input [disabled],.ampstart-input [disabled]+label{opacity:.5}.ampstart-input [disabled]:focus{outline:0}.ampstart-input>input,.ampstart-input>select,.ampstart-input>textarea{width:100%;margin-top:1rem;line-height:1.5rem;border:0;border-radius:0;border-bottom:1px solid #4a4a4a;background:none;color:#4a4a4a;outline:0}.ampstart-input>label{color:#003f93;pointer-events:none;text-align:left;font-size:.875rem;line-height:1rem;opacity:0;-webkit-animation:.2s;animation:.2s;-webkit-animation-timing-function:cubic-bezier(.4,0,.2,1);animation-timing-function:cubic-bezier(.4,0,.2,1);-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.ampstart-input>input:focus,.ampstart-input>select:focus,.ampstart-input>textarea:focus{outline:0}.ampstart-input>input:focus::-webkit-input-placeholder,.ampstart-input>select:focus::-webkit-input-placeholder,.ampstart-input>textarea:focus::-webkit-input-placeholder{color:transparent}.ampstart-input>input:focus::-moz-placeholder,.ampstart-input>select:focus::-moz-placeholder,.ampstart-input>textarea:focus::-moz-placeholder{color:transparent}.ampstart-input>input:focus:-ms-input-placeholder,.ampstart-input>select:focus:-ms-input-placeholder,.ampstart-input>textarea:focus:-ms-input-placeholder{color:transparent}.ampstart-input>input:focus::placeholder,.ampstart-input>select:focus::placeholder,.ampstart-input>textarea:focus::placeholder{color:transparent}.ampstart-input>input:not(:placeholder-shown):not([disabled])+label,.ampstart-input>select:not(:placeholder-shown):not([disabled])+label,.ampstart-input>textarea:not(:placeholder-shown):not([disabled])+label{opacity:1}.ampstart-input>input:focus+label,.ampstart-input>select:focus+label,.ampstart-input>textarea:focus+label{-webkit-animation-name:a;animation-name:a}@-webkit-keyframes a{to{opacity:1}}@keyframes a{to{opacity:1}}.ampstart-input>label:after{content:"";height:2px;position:absolute;bottom:0;left:45%;background:#003f93;-webkit-transition:.2s;transition:.2s;-webkit-transition-timing-function:cubic-bezier(.4,0,.2,1);transition-timing-function:cubic-bezier(.4,0,.2,1);visibility:hidden;width:10px}.ampstart-input>input:focus+label:after,.ampstart-input>select:focus+label:after,.ampstart-input>textarea:focus+label:after{left:0;width:100%;visibility:visible}.ampstart-input>input[type=search]{-webkit-appearance:none;-moz-appearance:none;appearance:none}.ampstart-input>input[type=range]{border-bottom:0}.ampstart-input>input[type=range]+label:after{display:none}.ampstart-input>select{-webkit-appearance:none;-moz-appearance:none;appearance:none}.ampstart-input>select+label:before{content:"⌄";line-height:1.5rem;position:absolute;right:5px;zoom:2;top:0;bottom:0;color:#003f93}.ampstart-input-chk,.ampstart-input-radio{width:auto;color:#4a4a4a}.ampstart-input input[type=checkbox],.ampstart-input input[type=radio]{margin-top:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;width:20px;height:20px;border:1px solid #003f93;vertical-align:middle;margin-right:.5rem;text-align:center}.ampstart-input input[type=radio]{border-radius:20px}.ampstart-input input[type=checkbox]:not([disabled])+label,.ampstart-input input[type=radio]:not([disabled])+label{pointer-events:auto;-webkit-animation:none;animation:none;vertical-align:middle;opacity:1;cursor:pointer}.ampstart-input input[type=checkbox]+label:after,.ampstart-input input[type=radio]+label:after{display:none}.ampstart-input input[type=checkbox]:after,.ampstart-input input[type=radio]:after{position:absolute;top:0;left:0;bottom:0;right:0;content:" ";line-height:1.4rem;vertical-align:middle;text-align:center;background-color:#fff}.ampstart-input input[type=checkbox]:checked:after{background-color:#003f93;color:#fff;content:"✓"}.ampstart-input input[type=radio]:checked{background-color:#fff}.ampstart-input input[type=radio]:after{top:3px;bottom:3px;left:3px;right:3px;border-radius:12px}.ampstart-input input[type=radio]:checked:after{content:"";font-size:3rem;background-color:#003f93}.ampstart-input>label,_:-ms-lang(x){opacity:1}.ampstart-input>input:-ms-input-placeholder,_:-ms-lang(x){color:transparent}.ampstart-input>input::placeholder,_:-ms-lang(x){color:transparent}.ampstart-input>input::-ms-input-placeholder,_:-ms-lang(x){color:transparent}.ampstart-input>select::-ms-expand{display:none}.ampstart-headerbar{background-color:#fff;color:#000;z-index:999;box-shadow:0 0 5px 2px rgba(0,0,0,.1)}.ampstart-headerbar+:not(amp-sidebar),.ampstart-headerbar+amp-sidebar+*{margin-top:3.5rem}.ampstart-headerbar-nav .ampstart-nav-item{padding:0 1rem;background:transparent;opacity:.8}.ampstart-headerbar-nav{line-height:3.5rem}.ampstart-nav-item:active,.ampstart-nav-item:focus,.ampstart-nav-item:hover{opacity:1}.ampstart-navbar-trigger:focus{outline:none}.ampstart-nav a,.ampstart-navbar-trigger,.ampstart-sidebar-faq a{cursor:pointer;text-decoration:none}.ampstart-nav .ampstart-label{color:inherit}.ampstart-navbar-trigger{line-height:3.5rem;font-size:2rem}.ampstart-headerbar-nav{-webkit-box-flex:1;-ms-flex:1;flex:1}.ampstart-nav-search{-webkit-box-flex:0.5;-ms-flex-positive:0.5;flex-grow:0.5}.ampstart-headerbar .ampstart-nav-search:active,.ampstart-headerbar .ampstart-nav-search:focus,.ampstart-headerbar .ampstart-nav-search:hover{box-shadow:none}.ampstart-nav-search>input{border:none;border-radius:3px;line-height:normal}.ampstart-nav-dropdown{min-width:200px}.ampstart-nav-dropdown amp-accordion header{background-color:#fff;border:none}.ampstart-nav-dropdown amp-accordion ul{background-color:#fff}.ampstart-nav-dropdown .ampstart-dropdown-item,.ampstart-nav-dropdown .ampstart-dropdown>section>header{background-color:#fff;color:#000}.ampstart-nav-dropdown .ampstart-dropdown-item{color:#003f93}.ampstart-sidebar{background-color:#fff;color:#000;min-width:300px;width:300px}.ampstart-sidebar .ampstart-icon{fill:#003f93}.ampstart-sidebar-header{line-height:3.5rem;min-height:3.5rem}.ampstart-sidebar .ampstart-dropdown-item,.ampstart-sidebar .ampstart-dropdown header,.ampstart-sidebar .ampstart-faq-item,.ampstart-sidebar .ampstart-nav-item,.ampstart-sidebar .ampstart-social-follow{margin:0 0 2rem}.ampstart-sidebar .ampstart-nav-dropdown{margin:0}.ampstart-sidebar .ampstart-navbar-trigger{line-height:inherit}.ampstart-navbar-trigger svg{pointer-events:none}.ampstart-related-article-section{border-color:#4a4a4a}.ampstart-related-article-section .ampstart-heading{color:#4a4a4a;font-weight:400}.ampstart-related-article-readmore{color:#000;letter-spacing:0}.ampstart-related-section-items>li{border-bottom:1px solid #4a4a4a}.ampstart-related-section-items>li:last-child{border:none}.ampstart-related-section-items .ampstart-image-with-caption{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:0}.ampstart-related-section-items .ampstart-image-with-caption>amp-img,.ampstart-related-section-items .ampstart-image-with-caption>figcaption{-webkit-box-flex:1;-ms-flex:1;flex:1}.ampstart-related-section-items .ampstart-image-with-caption>figcaption{padding-left:1rem}@media (min-width:40.06rem){.ampstart-related-section-items>li{border:none}.ampstart-related-section-items .ampstart-image-with-caption>figcaption{padding:1rem 0}.ampstart-related-section-items .ampstart-image-with-caption>amp-img,.ampstart-related-section-items .ampstart-image-with-caption>figcaption{-ms-flex-preferred-size:100%;flex-basis:100%}}.ampstart-social-box{display:-webkit-box;display:-ms-flexbox;display:flex}.ampstart-social-box>amp-social-share{background-color:#000}.ampstart-icon{fill:#003f93}.ampstart-input{width:100%}main .ampstart-social-follow{margin-left:auto;margin-right:auto;width:315px}main .ampstart-social-follow li{-webkit-transform:scale(1.8);transform:scale(1.8)}h1+.ampstart-byline time{font-size:1.5rem;font-weight:400}</style>

    <html xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
    <html lang="EN" xml:lang="EN" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="https://ogp.me/ns#" xmlns="https://www.w3.org/1999/xhtml">

    <!-- BC_OBNW -->
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <link type="text/css" href="{{ '/css/module_style_sheets.css' | asset_url}}css/module_style_sheets.css" rel="StyleSheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">var jslang='EN';</script>
    <link rel="stylesheet" href="{{ '/css/screen-desktop.css?v=2' | asset_url}}css/screen-desktop.css?v=2" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ '/css/add.css?v=1.91' | asset_url}}css/add.css?v=1.91" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ '/css/modal.css?v=1' | asset_url}}css/modal.css?v=1" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,600" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ '/scripts/bootstrap.min.js' | asset_url}}scripts/bootstrap.min.js"></script>

    <script src="{{ '/css/style-tooltip.css' | asset_url}}css/style-tooltip.css" type="text/css" media="all" />
    <script src="{{ '/css/tooltip.css' | asset_url}}css/tooltip.css" type="text/css" media="all" />

    <meta property="og:site_name" content="PrimaryMarkets">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <script src="{{ '/scripts/countries.js' | asset_url }}scripts/countries.js"></script>

    <link rel="ICON" href="{{ 'images/favicon.ico' | asset_url }}images/favicon.ico" type="image/ico" />
    <script src="{{ '/scripts/ie10-viewport-bug-workaround.js' | asset_url}}scripts/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="{{ '/css/lightbox.css' | asset_url}}css/lightbox.css">
    <meta property="og:site_name" content="PrimaryMarkets">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <style>
                /* Sub menu */
                
                #content #offering-left-panel li {
                    padding: 7px 0px 7px 20px;
                    border-bottom: 1px solid #ddd;
                    background-position: left center;
                }
                .offering-title:before {
                    content: '+';
                    display: block;
                    color: #fff;
                    font-weight: bold;
                    width: 20px;
                    float: right;
                    height: 20px;
                    cursor: pointer;
                }
                .offering-title.open:before {
                    content: '-';
                }
                .btn-lhs {
                    margin-bottom: 20px;
                    padding: 10px 5%;
                    width: 90%;
                    font-size: 15px!important;
                }
                .offering-left-group {
                    line-height: 1.5;
                    margin-bottom: 20px;
                }
                .offering-title {
                    background: #2f98d2;
                    color: #fff;
                    padding: 10px 0px 10px 20px;
                    font-size: 15px;
                    cursor: pointer;
                    border: none;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    box-shadow: inset 0px 0px 0px 0 #2f98d2, 0px 3px 3px 0 #D2EFFF, 0px 3px 3px 0 #FFFFFF;
                    -moz-box-shadow: inset 0px 0px 0px 0 #2f98d2, 0px 3px 3px 0 #D2EFFF, 0px 3px 3px 0 #FFFFFF;
                    -webkit-box-shadow: inset 0px 0px 0px 0 #2f98d2, 0px 3px 3px 0 #D2EFFF, 0px 3px 3px 0 #FFFFFF;
                }
                .offering-titl {
                    background: #2f98d2;
                    color: #fff;
                    padding: 10px 0px 10px 20px;
                    font-size: 15px;
                    line-height: 1;
                    cursor: pointer;
                    border: none;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    box-shadow: inset 0px 0px 0px 0 #2f98d2, 0px 3px 3px 0 #D2EFFF, 0px 3px 3px 0 #FFFFFF;
                    -moz-box-shadow: inset 0px 0px 0px 0 #2f98d2, 0px 3px 3px 0 #D2EFFF, 0px 3px 3px 0 #FFFFFF;
                    -webkit-box-shadow: inset 0px 0px 0px 0 #2f98d2, 0px 3px 3px 0 #D2EFFF, 0px 3px 3px 0 #FFFFFF;
                }
                #offering-left-panel a {
                    color: #000;
                }
                .offering-left-group ul {
                    display: none;
                }
                #offering-left-panel .offering-title a,
                #offering-left-panel .offering-titl a {
                    color: #fff;
                    text-decoration: none;
                }
                .planet-innovation,
                .blackwall,
                .nitro,
                .selfwealth,
                .licella,
                .tyro,
                .xyz-ltd,
                .blooms,
                .haoma,
                .moneytech,
                .primarymarkets,
                .airr {
                    display: none;
                }
            </style>

    <meta name="description" content="PrimaryMarkets is the platform for delivering liquidity to Unlisted Securities and Investments." />
    <script type="text/javascript" src=""></script>
    </head>
    <body>
        <script>
        if ( window.location.protocol !=="https:" && window.location.hostname !== "www.primarymarkets.com") {
            window.location.hostname = "www.primarymarkets.com"; 
        }

        if (document.location.hostname=="primarymarket.worldsecuresystems.com") {
            var temp = document.location.pathname + document.location.search;
            document.location="https://www.primarymarkets.com" + temp;
        }

        </script>
            <div>
                <div id="header-wrapper">
                    <div id="header"> <style>
                    .public-search {  float: right; text-align: right; margin-top: 20px; }
                    .member-search { float: right; text-align: right; margin-top: 20px; }
                    .psearch0 { display:block!important; }
                    .psearch1 { display:none!important; }
                    .msearch1 { display:block!important; }
                    .msearch0 { display:none!important; }

                    .search_textbox {
                        float: left;
                        padding: 1px;
                        margin-bottom: 0px;
                        width: 120px !important;
                        margin-right: 5px;
                        height:23px;
                        line-height:23px;
                    }
    </style>

    <div id="logo">
        <a href="/"><img alt="Primary Markets" src="{{ '/images/logo-primary-market.jpg' | asset_url}}images/logo-primary-market.jpg"></a>
    </div>

    <div id="header-right-panel">
        <div id="header-link">
            <ul>
                <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/about">About PrimaryMarkets</a></li>
                <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/our-team">Our Team</a></li>
                <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/contact-us">Contact Us</a></li>
                {% comment %}<li class="px1"><a class="text-decoration-none ampstart-label"><a href="/PrinterView.aspx"><img src="{{ '/images/icon-printer.jpg' | asset_url}}images/icon-printer.jpg" alt="" border="0"></a></li> {% endcomment %}
            </ul>
        </div>

        {% comment %} <div id="login-status" style="float: right; text-align: right; margin-top: 20px; margin-left:20px;"></div>
        <div id="regis-status" style="float: right; text-align: right; margin-top: 10px; margin-left:20px; display:table;">                        
        </div> 
        {% endcomment %}

        <script>
            console.log("Logged In: " + localStorage.getItem("loggedIn"));
            if (localStorage.getItem("loggedIn") != 1) {
                //var menuHTML = '<li><a href="/member">Register</a></li><li><a href="/login">Login</a></li>';
                var menuHTML = '<div id="regis-status" style="float: right; text-align: right; margin-top: 10px; margin-left:20px; display:table;">';
                menuHTML += '<a href="/member"><div style="float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#d3d4d5; color:#000; margin-right:10px; border-right: 5px solid #FFF; font-size:13px; font-family: Pier, Arial, Helvetica, sans-serif; vertical-align:middle; display:table-cell;">REGISTER</div></a><a href="/login"><div style="float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#d3d4d5; color:#000; font-size:13px; font-family: Pier, Arial, Helvetica, sans-serif; vertical-align:middle; display:table-cell;">LOGIN</div></a></div>';
                document.write(menuHTML);
            }    

            if (localStorage.getItem("loggedIn") == 1) {
                //var menuHTML = '<li><a href="#">MEMBER</a>';
                var menuHTML = '<div id="login-status" style="float: right; text-align: right; margin-top: 10px; margin-left:20px; display:table; position:relative;">';
                //menuHTML += "<img src='{{ '/images/menu/icon-person.png' | asset_url}}images/menu/icon-person.png'>";
                menuHTML += "<div class='login-fullname' style='float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#EEEEEE; color:#000; margin-right:10px; margin-top:100px; font-size:15px; vertical-align:middle; display:table-cell; background:url({{ '/images/menu/icon-person.png' | asset_url}}images/menu/icon-person.png) left no-repeat; padding-left:30px;'>" + localStorage.getItem("Name") + "</div>";
                //menuHTML += "<div class='login-fullname' style='float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#EEEEEE; color:#000; margin-right:10px; margin-top:100px; font-size:15px; vertical-align:middle; display:table-cell; background:url(https://d2zldgrwn9htcy.cloudfront.net/instances/300/assets/images/menu/icon-person.png) left no-repeat; padding-left:30px;'>Justin Freshfield</div>";
                menuHTML += '<ul style="position:absolute; top:61px; right:0px; z-index:10000; text-align:left; background-color:#FFF; display:none;" class="member-new-menu">';
                menuHTML += '<li><a href="/account">My Account</a></li>';
                menuHTML += '<li><a href="/my-assets-on-offer">Sellers Area</a></li>';
                menuHTML += '<li><a href="/case">Enquiry History</a></li>';
                menuHTML += '<li><a href="/favorites">Bookmarks</a></li>';
                menuHTML += '<li><a href="/log-out">Log out</a></li>';
                menuHTML += '</ul></li>';
                menuHTML += '<style>';
                menuHTML += 'ul.member-new-menu {';
                menuHTML += '   border: 1px solid #CCC;';
                menuHTML += '}';
                menuHTML += 'ul.member-new-menu li a {';
                menuHTML += '   width: 180px;';
                menuHTML += '   box-sizing: border-box;';
                menuHTML += '   padding: 10px;';
                menuHTML += '   padding-left: 30px;';
                menuHTML += '   font-size: 15px;';
                menuHTML += '   color: #231f20;';
                menuHTML += '   background-color: #FFF;';
                menuHTML += '   display: block;';
                menuHTML += '}';
                menuHTML += 'ul.member-new-menu li a:hover {';
                menuHTML += '   background-color: #EEEEEE';
                menuHTML += '   text-decoration: none;';
                menuHTML += '}';
                menuHTML += '</style></div>';
                document.write(menuHTML);
            } 
        </script>

        <div class="public-search">        
            <form name="catsearchform2610" method="post" action="/Default.aspx?SiteSearchID=3929&PageID=16328589">
                <input class="cat_textbox search_textbox" name="CAT_Search" id="CAT_Search" placeholder="Site Search" style="font-family: 'Open Sans', Arial, sans-serif;" type="text">
                <input src="{{ '/images/btn-search2.jpg' | asset_url}}images/btn-search2.jpg" value="Search" style="margin-top:10px;" type="image"> 
            </form>        
        </div> 

        {% comment %}
        <div id="login-status" style="float: right; text-align: right; margin-top: 10px; margin-left:20px; display:table; position:relative;">
        <div class="login-fullname" style="float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#EEEEEE; color:#000; margin-right:10px; font-size:15px; vertical-align:middle; display:table-cell; background:url({{ '/images/menu/icon-person.png' | asset_url }}images/menu/icon-person.png) left no-repeat; padding-left:30px;"></div>
        {% endcomment %}

        <script>
            if (localStorage.getItem("Name") == null) {
                localStorage.setItem("Name", "");
            }
            else {
                /*console.log("Name: " + localStorage.getItem("Name"));
                if (localStorage.getItem("Name") != null && localStorage.getItem("Name") != "") {
                    document.getElementById('login-fullname').innerHTML = localStorage.getItem("Name");
                }  */             
            }
        </script>

        {% comment %}
        <div id="login-status" style="float: right; text-align: right; margin-top: 20px; margin-left:20px;">Logged in as <script>document.write(localStorage.getItem("firstName"));</script> </div>                
        {% endcomment %}

    </div>

    <script>
        $(".login-fullname").click(function() {
            $(this).toggleClass('up');
            $(".member-new-menu").toggle();
        });
    </script>

    <style>
        .login-fullname:after {
            content: url({{ '/images/menu/arrow-down.png' | asset_url}}images/menu/arrow-down.png);                    
            margin-left: 5px;
        }
        .login-fullname.up:after {
            content: url({{ '/images/menu/arrow-up.png' | asset_url}}images/menu/arrow-up.png);
            margin-left: 5px;
        }
        .public-search {
            margin-top: 10px;
        }
        .search_textbox {
            height: 45px;
            line-height: 45px;
            box-sizing: border-box;
        }
    </style>      

    <style>
        #header-sticky-wrapper {
            width: 100%;
            margin: 0px auto;
            float: left;
            margin-top: 0px;
            position: fixed;
            top: 0px;
            z-index: 99999;
            padding-top: 10px;
            background-color: #231f20;
            border-bottom: 1px solid #cccccc;
            display: none;
            opacity:0.9;
        }

        #header-sticky-wrapper #header {
            background-color: inherit!important;
        }

        #logo-sticky {
            margin-top: 16px;
        }

        #header-sticky-menu ul li a {
            color: #FFFFFF;
            font-size: 11px;
            font-weight:300;
            line-height:1.5;
            
            text-align:center;
            vertical-align:middle!important;
            display:table-cell!important;
            float:none!important;
        }

        #header-sticky-menu ul li {
            float: left;
            margin-right: 15px;
            transition: 1s;
            position: relative;
        }


        #header-sticky-menu ul li ul li a{
            color: #666666!important;
            line-height:2;
        }

        #header-sticky-menu ul li ul {
            top:30px;
            
        }

        #header-sticky-menu ul ul ul{
            top:0px;

        }

        .shome {
            width:22px;
            height:30px;
            display: table!important;
        }

        .shome a{
            background:url({{ '/images/menu/icon-home.png' | asset_url}}images/menu/icon-home.png) no-repeat center;
            text-indent:-9999px!important;
            width:22px;
            height:19px;
            
        }

        .dlines {
            height:30px;
            display: table;
        }

        .psearch0, .msearch1 {
            display: table!important;
            
        }

        li.dlines ul.submenu li.psearch0 {
            display: block!important;

        }

        .larrow {
            background:url({{ '/images/menu/little-arrow.png' | asset_url}}images/menu/little-arrow.png) no-repeat right;
            padding-right:15px;
            
        }
    </style>                

    </div>
    </div>

    </div> <div id="header-sticky-wrapper" style="display:none;">

        <div id="header" style="height:80px;">
            <div id="logo-sticky">
                <a href="/"><img alt="Primary Markets" src="{{ '/images/menu/logo-pm-white.png' | asset_url}}images/menu/logo-pm-white.png"> </a>
            </div>

            <div id="header-sticky-menu">
                <ul>
                    <li class="shome"><a href="/">Home</a> </li>
        
                    <li class="dlines larrow"><a href="#">Secondary Trading</a>
                        <ul class="submenu">
                            <li><a href="/secondary-trading">Secondary Trading</a></li>
                            <li><a href="/about-secondary-trading">About Secondary Trading</a></li>
                            <li><a href="/direct-assets">Direct Assets</a></li>
                            <li><a href="/pre-ipo-trading">Pre-IPO Trading</a></li>
                        </ul>
                    </li>

            <li class="dlines larrow"><a href="#">Capital Raises</a>
                <ul class="submenu">
                    <li><a href="/current-offerings">All</a></li>
                    <li><a href="/assets/securities">Securities</a></li>
                    <li><a href="/assets/funds">Funds</a></li>
                    <li><a href="/assets/fixed-income">Fixed Income</a></li>
                    <li><a href="/assets/commercial">Commercial</a></li>                    
                    <li><a href="/assets/crypto-blockchain">Crypto</a></li>
                    <li><a href="/featured-assets">Featured (New)</a></li>
                </ul>
            </li>

            <style>
                .dropbtn {
                    background-color: #4CAF50;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                }

                .dropdown {
                    float: left;                    
                    position: relative;
                    display: inline-block;
                    background: url( {{ '/images/arrow-menu-small.png' | asset_url}}images/arrow-menu-small.png ) right no-repeat;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    margin-left: 215px;
                    padding: 5px;
                    background-color: #FFFFFF;                    
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    border:1px solid #666666;
                    z-index: 9999;
                }

                .dropdown-content a {
                    color: red;
                    padding: 12px 16px;
                    text-decoration: none;                    
                }

                .dropdown-content a:hover {background-color: #ddd;}

                .dropdown:hover .dropdown-content {display: block;}

                .dropdown:hover .dropbtn {background-color: #3e8e41;}
            </style>
            

            <li class="dlines larrow"><a href="#">Investor Resources</a>
                <<ul class="submenu">
                    {% comment %}                                                            
                    <li class="l-arrow" style="background:url({{ '/images/arrow-menu.png' | asset_url}}images/arrow-menu.png) right no-repeat; width:200px;display:block;color:#666666;margin-right:0px;"><a href="/member-types">Member Types</a>
                        <ul>
                            <li><a href="/buyers">Buyers</a></li>
                            <li><a href="/sellers">Sellers</a></li>
                            <li><a href="/intermediaries">Intermediaries</a></li>
                        </ul>                        
                    </li> 
                    {% endcomment %}                    
                                        
                    <div li class="dropdown">                  
                        <li><a href="/member-types">Member Types</a></li>                            
                        <div class="dropdown-content">
                            <li><a href="/buyers">Buyers</a></li>
                            <li><a href="/sellers">Sellers</a></li>
                            <li><a href="/intermediaries">Intermediaries</a></li>
                        </div>
                    </div>                    

                    <li><a href="/blog">News</a></li>
                    <li><a href="/video-library">Video Library</a></li>
                    <li class="msearch0"><a href="/member/webinars">Webinars</a></li>
                    <li class="psearch0"><a href="/webinars">Webinars</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/services/research">Research</a></li>  
                </ul>    
            </li>

            <li class="dlines larrow"><a href="#">Services</a>
                <ul class="submenu">
                   <li><a href="/live-ecosystems">Secondary Trading</a></li>
                   <li><a href="/capital-raises">Capital Raises</a></li>
                   <li><a href="/digital-registry-services">Digital Registry Services</a></li>
                   <li><a href="/crowd-sourced-funding">Crowd-Sourced Funding</a></li>
                   <li><a href="/corporate-advisory">Corporate Advisory</a></li>
                   <li><a href="/services/escrow">Escrow</a></li>
                   <li><a href="/services/708">Buyer Status Verification</a></li>
                </ul>
            </li>     

            <script>
                var stickyMenuHTML = "";
                if (localStorage.getItem("loggedIn") == 1) {       
                    stickyMenuHTML += '<li class="dlines larrow"><a href="#">Member</a>';
                    stickyMenuHTML += '<ul class="submenu">';
                    stickyMenuHTML += '<li><a href="/account">My Account</a> </li>';
                    stickyMenuHTML += '<li><a href="/my-assets-on-offer">Sellers Area</a> </li>';
                    stickyMenuHTML += '<li><a href="/case">Enquiry History</a> </li>';
                    stickyMenuHTML += '<li><a href="/favorites">Bookmarks</a> </li>';
                    stickyMenuHTML += '<li><a href="/log-out">Log out</a> </li></ul> </li>';                                           
                }
                else {              
                    stickyMenuHTML += '<li class="dlines psearch0"><a href="/member">Register</a> </li>';
                    stickyMenuHTML += '<li class="dlines psearch0"><a href="/login">Login</a> </li>';
                }    
                
                document.write(stickyMenuHTML);
           </script> 
           <li class="shome"><img src="{{ '/images/menu/search-icon.png' | asset_url}}images/menu/search-icon.png" class="search-sticky-btn" style="vertical-align:middle;"> </li>
        </ul>
        </div>
        </div>

        <div id="search-sticky" style=" padding:10px 0px; width:100%; float:left; margin:0px auto; display:none; background-color:#000000; text-align:center;">
            <div style="float:none!important;"> 
            <form name="catcustomcontentform4864" method="post" onsubmit="processSearch3(this)" action="/Default.aspx?CCID=31145&FID=195372&ExcludeBoolFalse=True&PageID=16328589&keywords=">
            <input type="text" name="CAT_txtKeywords" id="CAT_txtKeywords" maxlength="255" placeholder="Site Search" style="float:none; width:300px; !important; height:30px; margin-left:-50px; font-family: 'Pier'; text-align:center!important;">
            <input type="image" src="{{ '/images/btn-search2.jpg' | asset_url}}images/btn-search2.jpg" value="Search" style="vertical-align:middle; display:none;"> 
            </form>
        
            <script type="text/javascript" src=""></script>
            <script type="text/javascript">
                function checkWholeForm4864(theForm) {
                    var why = "";
                    if (why != "") {
                        alert(why);
                        return false;
                    }
                    return true;
                }
                function processSearch3(catcustomcontentform4864) {
                    catcustomcontentform4864.action = catcustomcontentform4864.action + catcustomcontentform4864.CAT_txtKeywords.value;
                }
            </script>
        </div>

        <div class="msearch1" style="float:none!important;">
            {% comment %}
            <form name="catcustomcontentform063" method="post" onsubmit="processSearch4(this)" action="/Default.aspx?CCID=27695&FID=172808&ExcludeBoolFalse=True&PageID=16328589&keywords=">
            <input type="text" name="CAT_txtKeywords" id="CAT_txtKeywords" class="cat_textbox search_textbox" maxlength="255" placeholder="Offerings Search" style="float:none;  width:300px!important; text-align:center!important;"> 
            <input type="image" src="{{ '/images/btn-search3.jpg' | asset_url}}images/btn-search3.jpg" value="Search" style="vertical-align:middle; display:none;"> 
            </form>
            {% endcomment %}
        
            <script type="text/javascript" src=""></script>
            <script type="text/javascript">
            function checkWholeForm063(theForm) {
                    var why = "";
                    if (why != "") {
                        alert(why);
                        return false;
                    }
                    return true;
                }
            function processSearch4(catcustomcontentform063) {
            catcustomcontentform063.action = catcustomcontentform063.action + catcustomcontentform063.CAT_txtKeywords.value;
            }
            </script>
        </div>
        
        </div>
    </div>
    <script>
        $(".search-sticky-btn").click(function() {
            $("#search-sticky").toggle();
        });

    </script>
          <div id="menu-wrapper"> <div id="menu">
            
            <style>
                #menu-wrapper {
                    background-color: #272425;
                }
                #menu-wrapper {
                    height: auto!important;
                }
                #menu {
                    height: 55px!important;
                }
                #menu ul {
                    height: auto!important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    float: none!important;
                    margin: 0px auto!important;
                }
                #menu ul li ul {
                    top: 55px;
                }
                #menu ul ul ul {
                    top: 0px;
                    left: 290px !important;
                }
                #menu ul li ul li {
                    width: 270px;
                }
                li.m-arrow,
                li.m-arrow > a:hover {
                    background: url({{ '/images/arrow-menu.png' | asset_url}}images/arrow-menu.png) no-repeat right #272425 !important;
                }
                #menu ul li ul li {
                    background: #272425;
                }
                #menu ul li a {
                    line-height: 1.5;
                    white-space:nowrap!important;
                    vertical-align: middle!important;
                    display: table-cell!important;
                    float: none!important;
                }            
                .nhome {
                    width: 25px;
                    height: 55px;
                    display: table!important;
                }
                .nhome a {
                    background: url({{ '/images/menu/icon-home-normal.png' | asset_url}}images/menu/icon-home-normal.png) no-repeat center;
                    text-indent: -9999px!important;                                     
                    width: 25px;
                    height: 23px;
                }
                .nlines {
                    height: 55px;           
                    display: table;
                    background: url({{ '/images/menu/arrow-normal.png' | asset_url}}images/menu/arrow-normal.png) no-repeat right;
                    padding-right: 15px;
                }
            </style>                
                
    {% comment %}<div><script type="text/javascript" src="{{ '/scripts/Java_DynMenusSelectedCSS.js' | asset_url}}scripts/Java_DynMenusSelectedCSS.js?vs=b228.r521462-phase1"></script><!-- Dynamic Menu Begin CSS Output --><div id="cat_1972923_divs"><ul id="nav_1989020"><li class="nhome"><a href="/">Home</a></li><li class="nlines"><a href="/secondary-trading">Secondary Trading</a><ul id="navsub_1989020_1272643"><li><a href="/secondary-trading">Live Secondary Trading</a></li><li><a href="/about-ecosystems">About Secondary Trading</a></li></ul></li><li><a href="/current-offerings">Capital Raises</a><ul id="navsub_1972923_1269278"><li><a href="/current-offerings">All</a></li><li><a href="/assets/securities">Securities</a></li><li><a href="/assets/funds">Funds</a></li><li><a href="/assets/fixed-income">Fixed Income</a></li><li><a href="/assets/commercial">Commercial</a></li><li><a href="/assets/direct-assets">Direct Assets</a></li><li><a href="/assets/crypto-blockchain">Crypto</a></li><li><a href="/salesforce">Featured (New)</a></li></ul></li><li class="longer"><a href="#" onclick="return false;">Services</a><ul id="navsub_1972923_1269279"><li><a href="/services/ecosystem">Ecosystems</a></li><li><a href="/services/research">Research</a></li><li><a href="/services/escrow">Escrow</a></li><li><a href="/services/708">Buyer Status Verification</a></li><li><a href="/salesforce">Unlisteds.Exchange</a></li></ul></li><li><a href="#" onclick="return false;">Investor Resources</a><ul id="navsub_1972923_1269277"><li class="m-arrow"><a href="/member-types">Member Types</a><ul id="navsub_1972923_1269480"><li><a href="/buyers">Buyers</a></li><li><a href="/sellers">Sellers</a></li><li><a href="/intermediaries">Intermediaries</a></li></ul></li><li class="m-arrow"><a href="#" onclick="return false;">In the Media</a><ul id="navsub_1972923_1269290"><li><a href="/blog-our-clients">Our Clients</a></li><li><a href="/blog-primarymarkets">PrimaryMarkets</a></li></ul></li><li><a href="/video-library">Video Library</a></li><li class="msearch1"><a href="/member/webinars">Webinars</a></li><li class="psearch1"><a href="/webinars">Webinars</a></li><li class="m-arrow"><a href="/events">Events</a><ul id="navsub_1972923_1269296"><li><a href="/current-future-events">Current/future events</a></li><li><a href="/past-events">Past events</a></li></ul></li></ul></li></ul></div><script type="text/javascript"></script><!-- Dynamic Menu End CSS Output --></div> {% endcomment %}
    <div><script type="text/javascript" src="{{ '/scripts/Java_DynMenusSelectedCSS.js' | asset_url}}scripts/Java_DynMenusSelectedCSS.js?vs=b228.r521462-phase1"></script><!-- Dynamic Menu Begin CSS Output --><div id="cat_1989020_divs"><ul id="nav_1989020"><li class="nhome"><a href="/">Home</a></li><li class="nlines"><a href="/secondary-trading">Secondary Trading</a><ul id="navsub_1989020_1272643"></li><li><a href="/secondary-trading">Live Secondary Trading</a></li><li><a href="/about-ecosystems">About Secondary Trading</a></li><li><a href="/assets/direct-assets">Direct Assets</a></li><li><a href="/pre-ipo-trading">Pre-IPO Trading</a></li></ul></li><li class="nlines"><a href="/current-offerings">Capital Raises</a><ul id="navsub_1989020_1272641"><li><a href="/current-offerings">All</a></li><li><a href="/assets/securities">Securities</a></li><li><a href="/assets/funds">Funds</a></li><li><a href="/assets/fixed-income">Fixed Income</a></li><li><a href="/assets/commercial">Commercial</a></li><li><a href="/assets/crypto-blockchain">Crypto</a></li></ul></li><li class="nlines"><a href="#" onclick="return false;">Investor Resources</a><ul id="navsub_1989020_1272640"><li class="m-arrow"><a href="/member-types">Member Types</a><ul id="navsub_1989020_1272653"><li><a href="/buyers">Buyers</a></li><li><a href="/sellers">Sellers</a></li><li><a href="/intermediaries">Intermediaries</a></li></ul></li><li><a href="/blog">News</a></li><li><a href="/video-library">Video Library</a></li><li class="msearch0"><a href="/member/webinars">Webinars</a></li><li class="psearch0"><a href="/webinars">Webinars</a></li><li><a href="/events">Events</a></li><li><a href="/services/research">Research</a></li></ul></li><li class="nlines"><a href="#" onclick="return false;">Services</a><ul id="navsub_1989020_1272642"><li><a href="/live-ecosystems">Secondary Trading</a></li><li><a href="/capital-raises">Capital Raises</a></li><li><a href="/digital-registry-services">Digital Registry Services</a></li><li><a href="/crowd-sourced-funding">Crowd-Sourced Funding</a></li><li><a href="/corporate-advisory">Corporate Advisory</a></li><li><a href="/services/escrow">Escrow</a></li><li><a href="/services/708">Buyer Status Verification</a></li></ul></li></ul></div><script type="text/javascript">catSetSelectedCSSItem('nav_1989020');</script><!-- Dynamic Menu End CSS Output --></div>
    <div id="menu-member">
    <ul>
        {% comment %}<script>
            console.log("Logged In: " + localStorage.getItem("loggedIn"));
            if (localStorage.getItem("loggedIn") != 1) {
                //var menuHTML = '<li><a href="/member">Register</a></li><li><a href="/login">Login</a></li>';
                var menuHTML = '<div id="regis-status" style="float: right; text-align: right; margin-top: 10px; margin-left:20px; display:table;">';
                menuHTML += '<li><a href="/login"><div style="float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#d3d4d5; color:#000; font-size:13px; font-family: Pier, Arial, Helvetica, sans-serif; vertical-align:middle; display:table-cell;">LOGIN</div></a><a href="/member"><div style="float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#d3d4d5; color:#000; margin-right:10px; border-right: 5px solid #FFF; font-size:13px; font-family: Pier, Arial, Helvetica, sans-serif; vertical-align:middle; display:table-cell;">REGISTER</div></a></li></div>';
                document.write(menuHTML);
            }    

            if (localStorage.getItem("loggedIn") == 1) {
                //var menuHTML = '<li><a href="#">MEMBER</a>';
                var menuHTML = '<a href="/member"><div style="float:none; box-sizing:border-box; height:45px; padding:0px 15px; background-color:#d3d4d5; color:#000; margin-right:10px; border-right: 5px solid #FFF; font-size:13px; font-family: Pier, Arial, Helvetica, sans-serif; vertical-align:middle; display:table-cell;">REGISTER</div></a>';                
                menuHTML += '<ul>';
                menuHTML += '<li><a href="/account">My Account</a></li>';
                menuHTML += '<li><a href="/my-assets-on-offer">Sellers Area</a></li>';
                menuHTML += '<li><a href="/refer-us">Refer Us</a></li>';
                menuHTML += '<li><a href="/case">Enquiry History</a></li>';
                menuHTML += '<li><a href="/favorites">Bookmarks</a></li>';
                menuHTML += '<li><a href="/log-out">Log out</a></li>';
                menuHTML += '</ul></li>';
                document.write(menuHTML);
            } 

            //<li><a href="/member">Register</a></li>
            //<li><a href="/login">Login</a></li>
        </script> {% endcomment %}
    </ul>

    {% comment %}
    <li><a href="#">MEMBERS</a>
    <ul>
       <li><a href="/account">My Account</a></li>
       <li><a href="/my-assets-on-offer">Sellers Area</a></li>
       <li><a href="/refer-us">Refer Us</a></li>
       <li><a href="/case">Enquiry History</a></li>
       <li><a href="/favorites">Bookmarks</a></li>
       <li><a href="/LogOutProcess.aspx">Log out</a></li>
    </ul>    
    </li>
    {% endcomment %}

    </ul>
    </div>
    </div> 
    </div>
    </div>
    <div class="phone-section" style="display:none;">
    <div style="margin-bottom: 10px;" id="mobile-menu">
    <ul class="nav">
        <li><a class="btn" style="padding-left:0px!important;">MENU</a>
        
        </li>
    </ul>
    </div>
    </div>
    </div>
    </div>

    <div id="content-wrapper">
        <div id="content">
            <div id="offering-left-panel">
                <div class="offering-left-group planet-innovation">
                    <div class="offering-title ">Planet Group Holdings</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pi/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pi/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pi/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pi/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pi/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pi/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group blooms">
                    <div class="offering-title ">Blooms the Chemist</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blooms/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group tyro">
                    <div class="offering-title ">Tyro</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/tyro/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group blackwall">
                    <div class="offering-title ">BlackWall</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/blackwall/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group haoma">
                    <div class="offering-title ">Haoma Mining</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/haoma/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group primarymarkets">
                    <div class="offering-title ">PrimaryMarkets</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pm/digital-assets">My Holdings</a> </li>
                        <!-- removed <li><a href="/custom/pm/trade-notices">Current Trade Notices</a> </li> <li><a href="/custom/pm/trade">Submit My Trade Notice</a> </li> <li><a href="/custom/pm/resources">Investor Resources</a> </li> <li><a href="/custom/pm/how-it-works">How it Works</a> </li>                           -->
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pm/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/pm/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group airr">
                    <div class="offering-title ">AIRR</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/airr/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group xyz-ltd">
                    <div class="offering-title ">XYZ Ltd</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/xyz/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group moneytech">
                    <div class="offering-title ">Moneytech</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/home-page">Home</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/trade-notices">Current Trade Notices</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/trade">Submit My Trade Notice</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/resources">Investor Resources</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/how-it-works">How it Works</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/contact-us">Contact Us</a> </li>
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/moneytech/identity-verification">Verify ID</a> </li>
                    </ul>
                </div>

                <script type="text/javascript">
                        if (0 == 1) {
                            $("#login-status").show();
                            $("#regis-status").hide();
                        } else {
                            $("#login-status").hide();
                            $("#regis-status").show();
                        }
                        
                        /* Scroll */
                        $(document).ready(function() {
                            $(window).bind("scroll", function() {

                                /* Scroll Top Btn */
                                if ($(this).scrollTop() > $(window).height() - 1) {
                                    $('.scrollup').fadeIn();
                                } else {
                                    $('.scrollup').fadeOut();
                                }
                            });

                            $('.scrollup').click(function() {
                                $("html, body").animate({
                                    scrollTop: 0
                                }, 1000);
                                return false;
                            });

                        });

                        $("#menu-toggle span").click(function() {
                            $("ul.menu").slideToggle();
                        });

                        $(".parent").click(function() {
                            $(this).next("ul.submenu").slideToggle();
                        });  
                </script>              

                <div class="offering-left-group nitro">
                    <div class="offering-title ">Nitro</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/nitro">For Sale</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group selfwealth">
                    <div class="offering-title ">SelfWealth</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/selfWealth">For Sale</a> </li>
                    </ul>
                </div>

                <div class="offering-left-group licella">
                    <div class="offering-title ">Licella</div>
                    <ul class="list-reset flex flex-wrap mb3">
                       <li class="px1"><a class="text-decoration-none ampstart-label"><a href="/custom/licella">For Sale</a> </li>
                    </ul>
                </div>

                <br /> <a href="/custom/nitro-sell" style="color: rgb(255, 255, 255);"><span class="cat_button nitro btn-lhs" style="display:none;">Sell Nitro Units </span></a>                    <a href="/custom/selfwealth-sell" style="color: rgb(255, 255, 255);"><span class="cat_button selfwealth btn-lhs" style="display:none;">Sell SelfWealth Shares</span></a>                    <a href="/custom/licella-sell" style="color: rgb(255, 255, 255);"><span class="cat_button licella btn-lhs" style="display:none;">Sell Licella Shares</span></a>
                <div style="clear:both; float:left; width:100%; margin-top:50px;  display:none;" id="desktop-only">
                    <h2 style="color:#e67e25; font-size:16px; line-height:1.2!important;text-decoration: underline;"><a href="/member/webinars">VIEW OUR WEBINARS</a></h2> <div class="webinar-item">
        <p style="text-align:center;">
            <a href="open-assets-on-offer/saas-integrated-business-transformation-platform-connecting-users-to-data-and-business-applications"><img src="{{ '/images/Unifii213x100.png' | asset_url}}images/Unifii213x100.png" style="text-align: center;"></a>
        <br /><a href="open-assets-on-offer/saas-integrated-business-transformation-platform-connecting-users-to-data-and-business-applications"><strong>Platform as a Service (PaaS) - Digital Transformation Platform<br />
        </strong></a><a href="assets-on-offer/saas-integrated-business-transformation-platform">View Recording</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="open-assets-on-offer/iron-ore-and-gold-mining-company-pre-feasibility-round"><img src="{{ '/images/AMG213x100.png' | asset_url}}images/AMG213x100.png" style="text-align: center;"></a>
        <br /><a href="open-assets-on-offer/iron-ore-and-gold-mining-company-pre-feasibility-round"><strong>Iron Ore Mining Company - Pre- Feasibility Round<br />
        </strong></a><a href="assets-on-offer/AMG-iron-ore-and-gold-mining-company-pre-feasibility-round">View Recording</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="https://www.primarymarkets.com/assets-on-offer/explosive-trace-detector-capital-raising"><img src="{{ '/images/Greyscan213x100.png' | asset_url}}images/Greyscan213x100.png" style="text-align: center;"></a>
        <br /><a href="https://www.primarymarkets.com/assets-on-offer/explosive-trace-detector-capital-raising"><strong>Explosive Trace Detection System Webinar<br />
        </strong></a><a href="https://www.primarymarkets.com/assets-on-offer/explosive-trace-detector-capital-raising ">View Recording</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href=""><img src="{{ '/images/Webinar%20Link%20images/Crypto_Webinar.png' | asset_url}}images/Webinar%20Link%20images/Crypto_Webinar.png" style="text-align: center;"></a>
        <br /><a href=""><strong>Blockchain & Cryptocurrencies Education Series Nov 2017<br />
        </strong></a><a href=""></a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="open-assets-on-offer/asset-management-security-solutions-platform-capital-raising"><img src="{{ '/images/Secure2Go213x100.png' | asset_url}}images/Secure2Go213x100.png" style="text-align: center;"></a>
        <br /><a href="open-assets-on-offer/asset-management-security-solutions-platform-capital-raising"><strong>Asset Management & Security Solutions Platform<br />
        </strong></a><a href="assets-on-offer/secure2go-s2g-group-limited-capital-raising">View Recording</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="//www.primarymarkets.com/open-assets-on-offer/digital-document-saas-platform-capital-raising"><img src="{{ '/images/FormCorp213x100.png' | asset_url}}images/FormCorp213x100.png" style="text-align: center;"></a>
        <br /><a href="//www.primarymarkets.com/open-assets-on-offer/digital-document-saas-platform-capital-raising"><strong>Digital Document SaaS platform<br />
        </strong></a><a href="//www.primarymarkets.com/assets-on-offer/digital-document-saas-capital-raising">View Webinar</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="https://www.primarymarkets.com/open-assets-on-offer/video-email-marketing-company-early-growth-capital-raising"><img src="{{ '/images/Webinar Link images/Playable-Webinar-Image-213px.png' | asset_url}}images/Webinar Link images/Playable-Webinar-Image-213px.png" style="text-align: center;"></a>
        <br /><a href="https://www.primarymarkets.com/open-assets-on-offer/video-email-marketing-company-early-growth-capital-raising"><strong>Video Email Marketing Company<br />
        </strong></a><a href="https://www.primarymarkets.com/assets-on-offer/playable-video-email-marketing-early-growth-capital-raising#webinair">View Recording</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="/video-library"><img src="{{ '/images/PrimaryMarketsLogo213x100.png' | asset_url}}images/PrimaryMarketsLogo213x100.png" style="text-align: center;"></a>
        <br /><a href="/video-library"><strong>Primary Markets Investor Network Update Webinar<br />
        </strong></a><a href="/video-library"></a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="http://www.primarymarkets.com/open-assets-on-offer/music-licensing-platform-secondary-share-sale"><img src="{{ '/images/Webinar Link images/Jaxsta - 213x100 Webinar Link image.png' | asset_url}}images/Webinar Link images/Jaxsta - 213x100 Webinar Link image.png" style="text-align: center;"></a>
        <br /><a href="http://www.primarymarkets.com/open-assets-on-offer/music-licensing-platform-secondary-share-sale"><strong>Music Metadata Platform<br />
        </strong></a><a href="http://www.primarymarkets.com/assets-on-offer/music-metadata-platform-series-a#webinar">View Recording</a></p> 
    </div>

    <div class="webinar-item">
        <p style="text-align:center;">
            <a href="https://www.primarymarkets.com/open-assets-on-offer/next-generation-life-support-neonatal-anaesthetics-medical-equipment-supplier-capital-raising"><img src="{{ '/images/IHGGroupBaby.png' | asset_url}}images/IHGGroupBaby.png" style="text-align: center;"></a>
        <br /><a href="https://www.primarymarkets.com/open-assets-on-offer/next-generation-life-support-neonatal-anaesthetics-medical-equipment-supplier-capital-raising"><strong>Next Generation Life Support<br />
        </strong></a><a href="https://www.primarymarkets.com/assets-on-offer/international-health-group-growth-round-capital-raising#webinar">View Recording</a></p> 
    </div>

    <ul class="list-reset flex flex-wrap mb3" id="webapp36686pagination" class="pagination webapp">
        <li class="pag-current">1</li>
        <li class="pag-number"><a href="/Default.aspx?PageID=16324794&A=WebApp&CCID=36686&Page=2&Items=10">2</a></li>
        <li class="pag-number"><a href="/Default.aspx?PageID=16324794&A=WebApp&CCID=36686&Page=3&Items=10">3</a></li>
        <li class="pag-next"><a href="/Default.aspx?PageID=16324794&A=WebApp&CCID=36686&Page=2&Items=10">Next</a></li>
    </ul>
    </div>
    </div>
</header>

<!-- End Header -->